.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;//moving smooth(a)
        scroll-snap-type: y mandatory;//enable mandatory y
        scrollbar-width: none; //hidefor firefox
        &::-webkit-scrollbar{//hidefor other browser
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;//start mandatory
        }
    }
}
